<div class="top">
  <div class="top_main">
    <div class="container">
      <div class="search_frame">
        <div class="search_form">
          <h2>Potepan Shareでまだ体験したことのない旅をしよう</h2>
          <p>エリア</p>
          <%= search_form_for @q, class:"top_search", url: search_path do |f| %>
            <%= f.search_field :adress_cont, placeholder:"東京" %>
            <%= f.submit '検索',class:"btn btn-primary" %>
          <% end %> 
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container recommend">
  <h3>おすすめのエリア</h3>
  <div class="row align-items-center">
    <div class="col"> <!-- 検索結果：東京 -->
      <a href="https://0fa3bf49153c4fbaa2faff1c9919706e.vfs.cloud9.us-east-2.amazonaws.com/search?utf8=%E2%9C%93&q%5Badress_cont%5D=%E6%9D%B1%E4%BA%AC&q%5Broom_name_or_room_introduction_or_price_or_adress_cont%5D=&commit=%E6%8E%A2%E3%81%99">
        <img class="place_img" alt="東京" src="https://presite-potepancamp-rails-02.herokuapp.com/assets/img_tokyo.jpg">
      </a>
      <p>東京</p>
    </div>
    <div class="col"><!-- 検索結果：大阪 -->
      <a href="https://0fa3bf49153c4fbaa2faff1c9919706e.vfs.cloud9.us-east-2.amazonaws.com/search?utf8=%E2%9C%93&q%5Badress_cont%5D=%E5%A4%A7%E9%98%AA&q%5Broom_name_or_room_introduction_or_price_or_adress_cont%5D=&commit=%E6%8E%A2%E3%81%99">
        <img class="place_img" alt="大阪" src="https://presite-potepancamp-rails-02.herokuapp.com/assets/img_osaka.jpg">
      </a>  
      <p>大阪</p>
    </div>
    <div class="col"><!-- 検索結果：京都 -->
      <a href="https://0fa3bf49153c4fbaa2faff1c9919706e.vfs.cloud9.us-east-2.amazonaws.com/search?utf8=%E2%9C%93&q%5Badress_cont%5D=%E4%BA%AC%E9%83%BD&q%5Broom_name_or_room_introduction_or_price_or_adress_cont%5D=&commit=%E6%8E%A2%E3%81%99">
        <img class="place_img" alt="京都" src="https://presite-potepancamp-rails-02.herokuapp.com/assets/img_kyoto.jpg">
      </a>  
      <p>京都</p>
    </div>
    <div class="col"><!-- 検索結果：札幌 -->
      <a href="https://0fa3bf49153c4fbaa2faff1c9919706e.vfs.cloud9.us-east-2.amazonaws.com/search?utf8=%E2%9C%93&q%5Badress_cont%5D=%E6%9C%AD%E5%B9%8C&q%5Broom_name_or_room_introduction_or_price_or_adress_cont%5D=&commit=%E6%8E%A2%E3%81%99">
        <img class="place_img" alt="札幌" src="https://presite-potepancamp-rails-02.herokuapp.com/assets/img_sapporo.jpg">
      </a>  
      <p>札幌</p>
    </div>
  </div>
</div>
      
      


  


