/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
img {
  width: 200px;
  height: 200px;
}

a {
  text-decoration: none;
  color: #333333;
}

a:hover {
  text-decoration: none;
  color: #333333;
}
 
header {
 display: flex;
 background-color: #000000;
 padding: 10px 0;
}


.search_btn {
  display: none;
}

.header_logo > a > img {
  height: 50px;
}

.header_search {
  margin-top: 10px;
}

.header_user > p {
  color: #ffffff;
}

footer {
  background-color: #000000;
  padding: 80px 0;
}

footer > p {
  color: #ffffff;
  text-align: center;
}

.pages {
  margin: 40px auto;
}

.row.align-items-center.pages {
  margin-right: -130px;
  margin-left: -130px;
  margin-top: 30px;
  
}

.col > .room_imgs {
  width: 300px;
  height: 200px;
}