// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*ルーム作成*/

.col-sm-2.side_bar {
  border-right: 1px solid;
}  

.col-sm-2.side_bar .side_bar_contents {
  display: block;
  text-align: center;
  margin: 30px auto;
  border-right: solid 2px #4b8fe2;
  color: #4b8fe2;
  padding: 5px;
  font-size: 22px;
}
.input_form h3 {
  color: #4b8fe2;
}

.input_form_field {
  border: solid 1px #e2e2e2;
  padding: 10px;
  width: 800px;
}

.input_form {
  padding: 10px 30px;
  
}

.input_form > div {
  margin-top: 30px;
}

.col-sm-8.input_info {
  height: 100px;
}

.btn.btn-primary.input_submit {
  margin-top: 30px;
}

.row.under_line {
  border-bottom: 1px solid #e2e2e2;
  padding-bottom: 30px;
}

.row div > label {
  font-weight: bold;
}

/*ルーム詳細*/

.room_img {
  width: 100%;
  height: auto;
}

.room_user_img {
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

.room_about.row {
  margin-top: 30px;
}

.room_about_page .col-8 > p {
  border-top: solid 1px #eaedef;
  border-bottom: solid 1px #eaedef;
  padding: 20px 0;
  margin-top: 10px;
}

.room_about .col-10 > p:first-child {
  font-weight: bold;
  font-size: 18px;
}

.room_about_page .col-4 .reservation_form_field {
  border: 1px solid #eaedef;
  padding: 10px;
}

.reservation_form {
  padding-top: 10px;
}

.reservation_form input {
  width: 100%;
}

.reservation_form_field > p {
  font-size: 24px;
}

