// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sign_field {
  width: 500px;
  box-shadow: 0 0 8px gray;
  padding: 50px;
}

.field.sign_form {
  margin-top: 20px;
}

.sign_field {
  text-align: center;
}

.sign_form input {
  width: 280px;
  height: 40px;
}

.sign_field > p {
  margin-top: 10px;
}

.sign_field > p > a {
  color: #4b8fe2;
}

.col-sm-2.side_bar .side_bar_black {
  display:  block;
  font-size: 22px;
  text-align: center;
}

.user_container {
  padding: 110px 0;
}

/* profile */

.profile_img {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  margin: 0 auto;
}

/* edit */

.sign_form.edit input {
  width: 350px;
  height: 40px;
}